<div class="container">
	<div class="jumbotron">
		<div class="row"><h2 class="text-center"> Comunidad de vecinos <%= image_tag 'traity.jpg' %></h2></div>

		<br><br><br><br>

		<% if @space.blank? %>
			<h4 class="text-center">Todavía no tienes espacios deportivos introducidos.</h4>
			<br>
			<div class='text-center'><%= link_to 'Añadir Espacio', new_community_space_path(1), class: 'btn btn-default' %></div>
		<% else %>
			<% @spaces.each do |space| %>
				
			<% end %>
		<% end %>

	</div>
</div>


		


